number1=float(input('Введите первое число: '))
number2=float(input('Введите второе число: '))
print('какую функцию нужно сделать?')
function=input()
while function!='стоп':
    if function=="*":
        print(number1*number2)
    elif function=="//":
        print(number1//number2)
    elif function=="%":
        print(number1%number2)
    elif function=="+":
        print(number1+number2)
    elif function=="-":
        print(number1-number2)
    number1=float(input('Введите первое число: '))
    number2=float(input('Введите второе число: '))
    print('какую функцию нужно сделать?')
    function=input()

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
